NODE_ENVIROMMENT=development 
PORT=5050
DATABASE= mongodb://localhost:27017/webmaster
DATABASE_PASSWORD=

// jwt secret 
JWT_SCHEME = jwt
JWT_TOKEN_PREFIX = Bearer
JWT_SECRET_OR_KEY = 'key'
JWT_TOKEN_EXPIRATION = 18000000
JWT_TOKEN_HASH_ALGO = SHA256
